@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
header{
  background-color:rgba(217, 209, 209, 0.1);
  position: absolute;
  width:100vw;
  z-index: 111;

}
.container{
    width: min(90%, 1110px);
    margin:0 auto;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

}
.logo a{
  text-decoration: none;
  color: #ece6e6;
}
.logo span{
  color: #ee664e;
}
.menu{
  display: flex;
  list-style: none;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  padding-right: 30px;
  list-style: none;
}
.menu ul li a {
  color: #ece6e6;
  text-decoration: none;
  font-size: 1rem;
}
.menu ul li a:hover{
  color: #ee664e;
  transition: color 0.3s ease-in-out;
}
.menu ul li button{
  border: none;
  background-color: #ee664e;
  color: #ece6e6;
  padding: 0.8rem;
}
.hero-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.hero-content h4{
  color: #ece6e6;
  font-size: 2rem;
  margin-bottom: 30px;
}
.hero-content h1{
  color: #ee664e;

  font-size: 3rem;
  text-transform: capitalize;
}
.hero-content h1 span{
  color: #ece6e6;
}
.hero-content button{
  border: none;
  background-color: #ee664e;
  color: #ece6e6;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.hero{
  width: 100vw;
  background: linear-gradient(90deg, rgb(52, 49, 92) 0%, rgba(79, 79, 103, 0.732) 35%, rgb(49, 46, 88) 100%);

}

#myVideo{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hamburger{
  display: none;
}
.program-head{
  align-items: center;
  margin:140px auto 50px auto;
  text-align: center;
}

.program-head h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #151515;
  padding-bottom: 17px;
}
.program-head h1 span{
  color: #ee664e;
}

.program-head p{
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.5);
}
.leftandright{
 display: grid; 
 grid-template-columns: repeat(2,1fr);
}

.program-cont{
  margin: 10px;
  padding: 10px;
  display: flex;

}
.img{
  width: 100%;
}
.program-cont img{
 text-align: center;
 width: 20%;
 height: 20%;
 justify-content: center;
}
.program-inner{
  padding-left: 25px;
}

.program-inner h3{
  font-size: 1.5rem;
  color: #151515;
  font-weight: 500;
  padding-bottom: 5px;
}
.program-inner p{
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.5);
  line-height: 1.5;
  padding-bottom: 10px;
}

.program-inner a{
  color: #ed583e;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
}
.section3{
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 3rem;
}
.section3-inner{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.section3-inner h1{
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.section3-inner h1 span{
  color: #ee664e;
}

.section3-inner p{
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
}

.section3-inner button{
  border: none;
  background-color: #ee664e;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1rem;
}
.section3-inner button:hover{
  background-color: #db7461;
}

.classes-header{
  text-align: center;
  padding-top: 60px;
  height: 19.375rem;
}

.classes-header h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #151515;
  padding-bottom: 17px;
}

.classes-header h1 span{
  color: #ee664e;
}

.classes-header p{
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.5);
}
.services{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 30px;
  margin-bottom: 40px;
}

.classes-content{
  display: flex;
  padding-block:30px;
  padding-inline: 20px;
  margin-bottom: 50px;
  background-color: white !important;
  text-transform:capitalize !important;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1) !important;
}
.classes-content h2{
  padding-left: 10px !important;
  font-weight: 500;
  font-size: 1.2rem !important;
}

.classes-button button{
  border: none;
  background-color:#ed583e;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 100%;
  
  border-radius: 5px;
}

.classes-button button:hover{
  background-color: #db7461;
}
.left-classes{
  grid-column: 1 / span 2;
}
.right-classes{
  grid-column: 3 /span 3;
}
.right-classes img{
  width: 100%;
}
.right-classes h1{
  font-size: 2rem;
  color: #000000;
  padding-block: 15px;
}

.right-classes p{
  font-size: 1.2rem;
  color: #000000;
  padding-block: 15px;
  line-height: 1.6;
}

.right-classes button{
  border: none;
  background-color: #ed583e;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1rem;

}

.right-classes button:hover{
  background-color: #db7461;
}
.Schedule{
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.schedule-header{
  text-align: center;
  padding-top: 60px;
}

.schedule-header h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 17px;
}

.schedule-header h1 span{
  color: #ee664e;
}

.schedule-header p{
  font-size: 1rem;
  color: rgb(255, 255, 255);
 text-align: center;
 padding-top: 20px;
}
table{
  width: 100%;
  border-collapse: collapse;
  height: 31.25rem;
  color: white;
  border: 1px solid white;
  margin-block: 2.5rem;
}

table th, table td{
  padding: 10px;
  text-align: center;
}
.container .days{
  margin-top: 3.125rem;
}
.container .days span{
  color: #ed583e;
}
.traning-header{
  text-align: center;
  padding-top: 60px;
  height: 22.4125rem;
}
.traning-header h1{
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #151515;
  padding-bottom: 1.1rem;
}
.traning-header h1 span{
  color: #ed583e;
}
.traning-header p{
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.5);
  padding-top: 1rem;
}
.training-boxs{
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}
.training-box{
  padding: 40px;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.1) !important;
  background-color: white;
}
.training-box .title{
  margin-block: 1rem;
  color: #ef2e2e;
  line-height: 1.6;
}

.training-box img{
  width: 100%;
}
.training-box h2{
  font-size: 1.5rem;
  color: #151515;
  font-weight: 600;
  margin-bottom: 1rem;
}

.training-box p{
  font-size: 1rem;
  color: rgba(8, 8, 8, 0.5);
  line-height: 1,6;
}
.location-and-form{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 margin-top: 10rem;
 height: 500px;

}

iframe{
  width: 100%;
  height: 100%;
}
.form{
  width: 100%;
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg" );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
form{
  align-items: center;
  height: 80%;
  margin:50px 50px;
  background-color: white;
  border-radius: 8px;
  padding-left: 25px;
  padding-top: 30px;
}

form input, form textarea{
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  border: 1px solid rgb(86, 84, 84);
}
.form .name-email{
  width: 45%;
  padding: 10px;
}

.form input[type="submit"]{
  background-color: #ed583e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40vw;
  font-size: 1.2rem;
}

form input[type="submit"]:hover{
  background-color: #db7461;
}
.footer{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  margin-bottom: 20px;
}
.footer span{
  color: #ed583e;
}

/* Media queries */

@media (max-width: 768px){

  .hamburger{
    display: block !important;;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 2rem;
    font-weight: 100;
    color: #000000;
  }
 
  header{
    width: 99%;
    background-color: white;
  }
  .navigation{
    display: block;
    height: 5rem;
    align-items: center;
    justify-content: center;
    padding-top:15px;
    }
  
  .navigation .logo h1{
    color: black;
    text-align: center;
  } 
  .menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 99%;

  }
  .menu{
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    transform: translatex(0%);
    /* transition: transform 350ms ease-in-out; */

  }
  .menu[data-visible="false"]{
    transform: translatex(-200%);
    
  }
  .hamburger i[data-visible = "true"]{
    display: block !important;
}
.hamburger i[data-visible = "false"]{
    display: none !important;
}
  .menu ul li{
    width: 99%;
    text-align: center;
    padding-block: 10px;
    border-top: 2px solid rgba(0, 0, 0,0.3);

  }
  .menu ul li a{
    color:rgb(0, 0, 0);
    font-size: 1rem;
    text-align: center;
  }
  .menu ul li button{
    width: 100%;
    margin-left: 1rem;
  }

 .hero-content{
  width: 100%;
  text-align: center;

 }
 
 .hero-content{
     margin-top: 60px;
     font-size: 0.5rem;
 }
 .leftandright{
  display: block;
 }

  .services{
    display: flex;
    flex-direction: column;
  }
  .training-boxs{
    display: flex;
    flex-direction: column;

  }
  .location-and-form{
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
  }
  .form{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer{
    margin-top: 8rem;
  }
}